{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}


{% block content %}

{% if player.treatment_type == 'Baseline' %}
<h2>PHASE 4 </h2>
{% endif %}
{% if player.treatment_type != 'Baseline' %}
<h2>PHASE 5 </h2>
{% endif %}
<br>
<h4>
    Vielen Dank für Ihre Teilnahme an diesem Experiment.
    Zum Schluss haben wir noch ein paar allgemeine Fragen an Sie.
    Bitte beantworten Sie diese gewissenhaft und sorgfältig.</h4>

{% formfield player.age %}

{% formfield player.gender %}

{% formfield player.geschwister %}

{% formfield player.previous_participation %}

{% formfield player.currently_employed %}

{% formfield player.currently_studying %}

{% formfield player.study_semester %}

{% formfield player.study_course %}

{% next_button %}

{% endblock %}