{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block content %}




    <h3 class="card-title font-weight-bold"> EINLEITUNG</h3>
<p>Thank you for taking the time to participate in this study.</p>

<p>
    Please give this study your full attention. You will have a limited amount of time to complete it.
</p>

<p>In this study you can earn money and close a contract to purchase a mug at a cheap price. Your earnings and whether you
    receive the mug depend on your decisions during the study. </p>



<p>
    You receive your payment and potentially the Mug that you buy at the end of the study.
    Therefore, please remain seated quietly at the end of experiment until the experimenter brings your payment and
    potentially your Mug.
</p>
<p>
If you have any questions during the study, please raise your hand and wait for an experimenter to come to you.
    Please do not talk, exclaim, or try to communicate with other participants during the experiment.
    Participants intentionally violating the rules may be asked to leave the experiment and may not be paid.
</p>



    {% next_button %}



{% endblock %}
