{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block content %}




    <h3 class="card-title font-weight-bold"> MECHANISMUS ZUM ABSCHLUSS DES KAUFVERTRAGS  </h3>

<ol type="a">
  <li>Ein Vertrag mit einer Klausel, dass das Geschäft verpflichtet ist, den Durchschnittspreis des Bechers zu zahlen,
    falls ein geliefertes Produkt nicht der Beschreibung entspricht oder das Geschäft gar nicht liefert.</li>
  <li>Ein Vertrag mit einer Klausel, dass das Geschäft verpflichtet ist, ein Ersatzprodukt mit der genauen
    Beschreibung, die Sie wünschen, zu liefern, falls ein geliefertes Produkt nicht der Beschreibung entspricht oder das
    Geschäft gar nicht liefert.</li>
</ol>


{% endblock %}
