{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block content %}




    <h3 class="card-title font-weight-bold"> HAUPTENTSCHEIDUNG </h3>
<p>In dieser Studie erhalten Sie 12,50 Euro, von denen Sie bis zu 5 Euro für den Kauf eines Bechers ausgeben können.
  Um den Becher zu kaufen, schließen Sie einen Vertrag mit einem Geschäft ab, das den Becher verkauft.
  Es gibt zwei Arten von Verträgen. Sie entscheiden, wie viele Euro von den 5 Euro Sie bereit sind,
  für jeden Vertragstyp zu zahlen, um den Becher zu kaufen. Die zwei Vertragstypen sind:</p>

<ol type="a">
  <li>Ein Vertrag mit einer Klausel, dass das Geschäft verpflichtet ist, den Durchschnittspreis des Bechers zu zahlen,
    falls ein geliefertes Produkt nicht der Beschreibung entspricht oder das Geschäft gar nicht liefert.</li>
  <li>Ein Vertrag mit einer Klausel, dass das Geschäft verpflichtet ist, ein Ersatzprodukt mit der genauen
    Beschreibung, die Sie wünschen, zu liefern, falls ein geliefertes Produkt nicht der Beschreibung entspricht oder das
    Geschäft gar nicht liefert.</li>
</ol>

<p>Die Verträge unterscheiden sich hinsichtlich der Entschädigung, falls das Geschäft seine Pflicht nicht vollständig erfüllt.
  Es besteht eine 25\% Wahrscheinlichkeit, dass das Geschäft seine Pflicht nicht erfüllt, indem es einen Becher liefert,
  dessen eine oder mehrere Eigenschaften von dem abweichen, was Sie auf seinen Fotos sehen, oder es versäumt, den Becher zu liefern.</p>


    {% next_button %}


{% endblock %}
