{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block scripts %}

<script src="{% static 'back_button_v1/js/prev_next_button.js' %}"></script>

{% endblock %}


{% block styles %}

<link href="{% static 'back_button_v1/css/custom.css' %}" rel="stylesheet">

{% endblock %}


{% block content %}
<!-- Tab navigation -->
<ul class="nav nav-tabs fixed-top navbar-light bg-light justify-content-center " id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="part0-tab" data-bs-toggle="tab" href="#part0" role="tab" aria-controls="part0"
           onclick="topFunction()">KONTROLLFRAGEN</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" id="part1-tab" data-bs-toggle="tab" href="#part1" role="tab" aria-controls="part1"
           onclick="topFunction()">EINLEITUNG</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="part2-tab" data-bs-toggle="tab" href="#part2" role="tab" aria-controls="part2"
           onclick="topFunction()">HAUPTENTSCHEIDUNG</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="part3-tab" data-bs-toggle="tab" href="#part3" role="tab" aria-controls="part3"
           onclick="topFunction()">VERFAHREN</a>
    </li>



</ul>
<br>
<br>


<!-- Tab content -->
<div class="tab-content" id="myTabContent">


    <div class="tab-pane show active" id="part0" role="tabpanel" aria-labelledby="part0-tab">


       <div class="card-header bg-transparent mainheader">
           <h3 class="card-title font-weight-bold"> KONTROLLFRAGEN </h3>
       </div>
       <br>

        {% formfield player.control_ques_1 %}
        {% formfield player.control_ques_2 %}
        {% formfield player.control_ques_3 %}
        {% formfield player.control_ques_4 %}





       <button type="submit" class="btn-primary btn next">Ok</button>
</div>



   <div class="tab-pane" id="part1" role="tabpanel" aria-labelledby="part1-tab">


       <div class="card-header bg-transparent mainheader">
               <h3 class="card-title font-weight-bold"> EINLEITUNG</h3>
<p>Bitte widmen Sie dieser Studie Ihre volle Aufmerksamkeit.</p>

<p>
    Für Ihre Teilnahme an dieser Studie erhalten Sie eine Aufwandsentschädigung
    in Höhe von fünf Euro. Im Experiment können Sie je nachdem
    wie Sie und andere Teilnahmern entscheiden zusätzliches Geld verdienen. Wenn Sie
    die Studie vorzeitig verlassen, erhalten Sie keine Zahlung
</p>

<p>Der Wert ihrer Zusatzzahlung wird in Punkten gemessen.
    Am Ende der Studie wird Ihnen dieses Geld zum folgenden Wechselkurs ausgezahlt: </p>

<p><b> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;1 Punkt = 0,60 Euro.</b></p>

<p>
    In dieser Studie werden Sie nach dem Zufallsprinzip einer Gruppe von sechs
    Teilnehmern zugeteilt und bilden innerhalb dieser Gruppe mit einem weiterem
    Teilnehmer ein Paar. Ihrem Partner und Ihnen wird eine von zwei Rollen
    zugewiesen: Person A oder Person B.
</p>
<p>
    Die Studie erfolgt vollständig anonym. Die anderen Teilnehmer werden zu
    keinem Zeitpunkt über Ihren Namen, Ihre Entscheidung oder Ihre Bezahlung
    informiert.
</p>
<p>
    Wenn Sie während der Studie Fragen haben, heben Sie bitte die Hand und
    warten Sie, bis ein Experimentator zu Ihnen kommt. Bitte sprechen Sie nicht, rufen Sie nicht oder kommunizieren Sie nicht mit
    anderen Teilnehmern während des Experiments.
    Teilnehmer, die absichtlich gegen diese Regeln verstoßen, können gebeten werden, das Experiment zu verlassen und erhalten keine Vergütung.
</p>
<p><b>Hinweis:</b>
    Während des Experiments stehen Ihnen verschiedene Teile der
    Anweisung als Tabs am oberen Bildschirmrand zur Verfügung. Sie können
    zwischen diesen Tabs hin- und herwechseln. Alle Tabs, mit Ausnahme des Tabs
    mit den Übungsfragen, sind während der Sitzung jederzeit zugänglich.
</p>

       </div>
       <br>



   </div>


   <div class="tab-pane" id="part2" role="tabpanel" aria-labelledby="part2-tab">


       <div class="card-header bg-transparent mainheader">
           <h3 class="card-title font-weight-bold"> HAUPTENTSCHEIDUNG </h3>
       </div>
       <br>


       <p>
           Zu Beginn des Experiments erhalten Sie 10 Punkte, unabhängig davon ob Sie Person A oder Person B sind.
       </p>
       <p>
           Während des Experiments wählt Person A einen beliebigen Betrag zwischen 0
            und 10 Punkten aus, der von den Anfangspunkten von Person B abgezogen
            wird und den Person A zusätzlich erhält.
       </p>
        <p>
            Zum Schluss erhält Person A also die 10 Anfangspunkte plus die abgezogenen
            Punkte von Person B. Person B erhält die 10 Anfangspunkte minus die Punkte,
            die Person A abgezogen hat.
        </p>
        <p>
            Angenommen Person A wählt während des Experiments 4 Punkte aus, so erhält Person A 14 Punkte und Person B 6 Punkte.
        </p>
</div>

   <div class="tab-pane" id="part3" role="tabpanel" aria-labelledby="part3-tab">


       <div class="card-header bg-transparent mainheader">
           <h3 class="card-title font-weight-bold"> VERFAHREN </h3>
       </div>





       <!--##################################### -->
       <!--#########  BASELINE  ####### -->
       <!--##################################### -->

       {% if player.treatment_type == 'Baseline' %}

       <p>
              Das Experiment läuft in vier Phasen ab.
       </p>

       <b>Phase 1</b>
       <p>
       Sie und der Teilnehmer, mit dem Sie gepaart sind, treten in einer Aufgabe
       gegeneinander an. Die Aufgabe besteht darin, die Anzahl der Nullen in Tabellen
       mit 150 zufällig angeordneten Nullen und Einsen zu zählen. Die Abbildung zeigt
       den Arbeitsbildschirm, den Sie später benutzen werden
       </p>
       <p>
       <img src="/static/global/Aufgabe_beispiel.jpg"  width="800">
              <br>
              <br>
       </p>
       Geben Sie die Anzahl an Nullen in das Eingabefeld auf der rechten Seite des
       Bildschirms ein. Nachdem Sie die Zahl eingegeben haben, klicken Sie auf die
       Schaltfläche “OK”. Wenn Sie das richtige Ergebnis eingegeben haben, erscheint
       eine neue Tabelle. Wenn Ihre Eingabe falsch ist, haben Sie zwei weitere
       Versuche, die richtige Zahl in die Tabelle einzutragen. Sie haben also insgesamt
       drei Versuche, jede Tabelle richtig zu lösen. Wenn Sie dreimal eine falsche Zahl
       eingeben, erscheint eine neue Tabelle. Sie können die Gesamtzahl der richtig
       gelösten Tabellen sehen, während Sie die Aufgabe bearbeiten. Für diese
       Aufgabe haben Sie 5 Minuten Zeit. Die verbleibende Zeit wird in der oberen
       linken Ecke des Bildschirms angezeigt.
       Der Teilnehmer, der innerhalb dieser 5 Minuten die meisten Tabellen richtig löst,
       erhält die Rolle von Person A. Der andere Teilnehmer erhält die Rolle von Person B.
       Wenn Sie und Ihr Partner die gleiche Anzahl von Aufgaben lösen konnten, werden die Rollen zufällig verteilt. </p>
       <b>Phase 2</b>
       <p>
              Wenn Ihnen die Rolle von Person A zugewiesen wurde, werden Sie
              anschließend nach Ihrer relativen Leistung im Vergleich zu Ihrem Partner
              gefragt. Wenn Sie glauben, dass Sie mehr Aufgaben lösen konnten als Ihr
              Partner, können Sie den geschätzten Unterschied zwischen Ihrer Leistung und
              der Leistung Ihres Partners als Zahl eingeben (z.B. 3, wenn Sie glauben, dass
              Sie 3 Aufgaben mehr lösen konnten als Ihr Partner). Wenn Sie glauben, dass
              Sie und Ihr Partner die gleiche Anzahl an Aufgaben richtig gelöst haben und die
              Rollen zufällig zugewiesen wurden, können Sie Ihre Einschätzung durch die
              Eingabe der Zahl 0 angeben.
       </p>
       <b>Phase 3</b>
       <p>
              Wenn Ihnen die Rolle von Person A zugewiesen wurde, treffen Sie in dieser
              Phase eine Entscheidung wie sie im Tab "Hauptentscheidung" beschrieben ist.
</p>
       <b>Phase 4</b>
       <p>
In dieser Phase füllen Sie einen Fragebogen aus, mit dessen Abgabe die Studie endet.<br>
Bevor Sie mit dem eigentlichen Experiment beginnen, ist es wichtig, dass Sie den Ablauf des Experiments verstanden haben.
              Wir möchten Sie daher bitten, einige Kontrollfragen zum Experiment zu beantworten.
              Sobald alle Teilnehmer diese Fragen richtig beantwortet haben, beginnt das Experiment.
</p>

       <!--##################################### -->
       <!--#########  Mere_Voting  ####### -->
       <!--##################################### -->

       {% elif player.treatment_type == 'Mere_Voting' %}

       <p>Das Experiment besteht aus fünf Phasen</p>
       <b>Phase 1</b>
       <p>
              Sie und der Teilnehmer, mit dem Sie gepaart sind, treten in einer Aufgabe
              gegeneinander an. Die Aufgabe besteht darin, die Anzahl der Nullen in Tabellen
              mit 150 zufällig angeordneten Nullen und Einsen zu zählen. Die Abbildung zeigt
              den Arbeitsbildschirm, den Sie später benutzen werden:
              <br>
       <p><img src="/static/global/Aufgabe_beispiel.jpg"  width="800"><br><br></p>
              Geben Sie die Anzahl an Nullen in das Eingabefeld auf der rechten Seite des
              Bildschirms ein. Nachdem Sie die Zahl eingegeben haben, klicken Sie auf die
              Schaltfläche “OK”. Wenn Sie das richtige Ergebnis eingegeben haben, erscheint
              eine neue Tabelle. Wenn Ihre Eingabe falsch ist, haben Sie zwei weitere
              Versuche, die richtige Zahl in die Tabelle einzutragen. Sie haben also insgesamt
              drei Versuche, jede Tabelle richtig zu lösen. Wenn Sie dreimal eine falsche Zahl
              eingeben, erscheint eine neue Tabelle. Sie können die Gesamtzahl der richtig
              gelösten Tabellen sehen, während Sie die Aufgabe bearbeiten. Für diese
              Aufgabe haben Sie 5 Minuten Zeit. Die verbleibende Zeit wird in der oberen
              linken Ecke des Bildschirms angezeigt.
              Der Teilnehmer, der innerhalb dieser 5 Minuten die meisten Tabellen richtig löst,
              erhält die Rolle von Person A. Der andere Teilnehmer erhält die Rolle von Person B.
              Wenn Sie und Ihr Partner die gleiche Anzahl von Aufgaben lösen konnten, werden die Rollen zufällig verteilt.
       </p>
       <b>Phase 2</b>
       <p>
              In dieser Phase werden Sie aufgefordert, über die folgende Norm abzustimmen:
           <b>"Person A darf sich von Person B nehmen, was ihr zusteht."</b>
              Sie können sich für diese Norm entscheiden, indem Sie auf "JA" klicken, oder gegen diese Norm, indem Sie auf "NEIN" klicken.
       </p>
       <b>Phase 3</b>
       <p>
              Zu Beginn dieser Phase werden Sie über die Rolle informiert, die Ihnen in Phase
              1 zugewiesen wurde. Wenn Ihnen die Rolle von Person A zugewiesen wurde,
              werden Sie anschließend nach Ihrer relativen Leistung im Vergleich zu Ihrem
              Partner gefragt. Wenn Sie glauben, dass Sie mehr Aufgaben lösen konnten als
              Ihr Partner, können Sie den geschätzten Unterschied zwischen Ihrer Leistung
              und der Leistung Ihres Partners als Zahl eingeben (z.B. 3, wenn Sie glauben,
              dass Sie 3 Aufgaben mehr lösen konnten als Ihr Partner). Wenn Sie glauben,
              dass Sie und Ihr Partner die gleiche Anzahl an Aufgaben richtig gelöst haben
              und die Rollen zufällig zugewiesen wurden, können Sie Ihre Einschätzung durch
              die Eingabe der Zahl 0 angeben.
       </p>
       <p>
              Wenn Ihnen die Rolle von Person A zugewiesen wurde, werden Sie außerdem
              gebeten, eine Einschätzung über die Anzahl der in Ihrer Gruppe (eine Gruppe
              besteht aus 6 Personen à 3 Paaren) für die Norm abgegebenen Stimmen
              abzugeben. Wenn Sie zum Beispiel glauben, dass eine Person mit “JA” für die
              Norm gestimmt hat, geben Sie “1” in das dafür vorgesehene Eingabefeld ein.
       </p>
       <b>Phase 4</b>
       <p>
              Wenn Ihnen die Rolle von Person A zugewiesen wurde, treffen Sie in dieser
              Phase eine Entscheidung wie sie im Tab "Hauptentscheidung" beschrieben ist.
       </p>
       <b>Phase 5</b>
       <p>
              In dieser Phase werden Sie einen Fragebogen ausfüllen, mit dessen Abgabe die Studie endet.
              Bevor Sie mit dem eigentlichen Experiment beginnen, ist es wichtig, dass Sie den Ablauf des Experiments verstanden haben.
              Wir möchten Sie daher bitten, einige Kontrollfragen zum Experiment zu beantworten. Sobald alle Teilnehmer diese Fragen
              richtig beantwortet haben, beginnt das Experiment.
       </p>


       <!--##################################### -->
       <!--#########  'Expressive_Voting'   ####### -->
       <!--##################################### -->

       {% elif player.treatment_type == 'Expressive_Voting' %}

       <p>Das Experiment besteht aus fünf Phasen.</p>
       <b>Phase 1</b>
       <p>
              Sie und der Teilnehmer, mit dem Sie gepaart sind, treten in einer Aufgabe
              gegeneinander an. Die Aufgabe besteht darin, die Anzahl der Nullen in Tabellen
              mit 150 zufällig angeordneten Nullen und Einsen zu zählen. Die Abbildung zeigt
              den Arbeitsbildschirm, den Sie später benutzen werden:
              <br>
       <p><img src="/static/global/Aufgabe_beispiel.jpg"  width="800"><br><br></p>
              Geben Sie die Anzahl an Nullen in das Eingabefeld auf der rechten Seite des
              Bildschirms ein. Nachdem Sie die Zahl eingegeben haben, klicken Sie auf die
              Schaltfläche “OK”. Wenn Sie das richtige Ergebnis eingegeben haben, erscheint
              eine neue Tabelle. Wenn Ihre Eingabe falsch ist, haben Sie zwei weitere
              Versuche, die richtige Zahl in die Tabelle einzutragen. Sie haben also insgesamt
              drei Versuche, jede Tabelle richtig zu lösen. Wenn Sie dreimal eine falsche Zahl
              eingeben, erscheint eine neue Tabelle. Sie können die Gesamtzahl der richtig
              gelösten Tabellen sehen, während Sie die Aufgabe bearbeiten. Für diese
              Aufgabe haben Sie 5 Minuten Zeit. Die verbleibende Zeit wird in der oberen
              linken Ecke des Bildschirms angezeigt.
              Der Teilnehmer, der innerhalb dieser 5 Minuten die meisten Tabellen richtig löst,
              erhält die Rolle von Person A. Der andere Teilnehmer erhält die Rolle von Person B.
              Wenn Sie und Ihr Partner die gleiche Anzahl von Aufgaben lösen konnten, werden die Rollen zufällig verteilt.
       </p>
       <b>Phase 2</b>
       <p>
              In dieser Phase werden Sie aufgefordert, über die folgende Norm abzustimmen:
           <b>"Person A darf sich von Person B nehmen, was ihr zusteht."</b>
              Sie können sich für diese Norm entscheiden, indem Sie auf "JA" klicken, oder gegen diese Norm, indem Sie auf "NEIN" klicken.
              Sie sehen auf Ihrem Bildschirm, wie viele Ihrer Gruppenmitglieder für die Norm stimmen, nachdem alle Ihre Gruppenmitglieder
              ihre Stimme abgegeben haben.
       </p>
       <b>Phase 3</b>
       <p>
              Zu Beginn dieser Phase werden Sie über die Rolle informiert, die Ihnen in Phase 1 zugewiesen wurde.
              <br>
              Wenn Ihnen die Rolle von Person A zugewiesen wurde,
              werden Sie anschließend nach Ihrer relativen Leistung im Vergleich zu Ihrem
              Partner gefragt. Wenn Sie glauben, dass Sie mehr Aufgaben lösen konnten als
              Ihr Partner, können Sie den geschätzten Unterschied zwischen Ihrer Leistung
              und der Leistung Ihres Partners als Zahl eingeben (z.B. 3, wenn Sie glauben,
              dass Sie 3 Aufgaben mehr lösen konnten als Ihr Partner). Wenn Sie glauben,
              dass Sie und Ihr Partner die gleiche Anzahl an Aufgaben richtig gelöst haben
              und die Rollen zufällig zugewiesen wurden, können Sie Ihre Einschätzung durch
              die Eingabe der Zahl 0 angeben.

       </p>
       <b>Phase 4</b>
       <p>
              Wenn Ihnen die Rolle von Person A zugewiesen wurde, treffen Sie in dieser Phase eine Entscheidung nach den Regeln,
              die auf dem Tab "Hauptentscheidung" beschrieben sind.
       </p>
<b>Phase 5</b>
       <p>
              In dieser Phase füllen Sie einen Fragebogen aus, mit dessen Einsendung die Studie endet.
              <br>
              Bevor Sie mit dem eigentlichen Experiment beginnen, ist es wichtig, dass Sie den Ablauf des Experiments verstanden haben.
              Wir möchten Sie daher bitten, einige Kontrollfragen zum Experiment zu beantworten.
              Sobald alle Teilnehmer diese Fragen richtig beantwortet haben, beginnt das Experiment.
       </p>
       {% endif %}


</div>

</div>
</body>




{% endblock %}



