{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block content %}




    <h3 class="card-title font-weight-bold"> EINLEITUNG</h3>
<p>Bitte widmen Sie dieser Studie Ihre volle Aufmerksamkeit.</p>

<p>
    Für Ihre Teilnahme an dieser Studie erhalten Sie eine Aufwandsentschädigung
    in Höhe von fünf Euro. Im Experiment können Sie je nachdem
    wie Sie und andere Teilnahmer entscheiden zusätzliches Geld verdienen. Wenn Sie
    die Studie vorzeitig verlassen, erhalten Sie keine Zahlung
</p>

<p>Der Wert Ihrer Zusatzzahlung wird in Punkten gemessen.
    Am Ende der Studie wird Ihnen dieses Geld zum folgenden Wechselkurs ausgezahlt: </p>

<p><b> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;1 Punkt = 0,60 Euro.</b></p>

<p>
    In dieser Studie werden Sie nach dem Zufallsprinzip einer Gruppe von sechs
    Teilnehmern zugeteilt und bilden innerhalb dieser Gruppe mit einem weiterem
    Teilnehmer ein Paar. Ihrem Partner und Ihnen wird eine von zwei Rollen
    zugewiesen: Person A oder Person B.
</p>
<p>
    Die Studie erfolgt vollständig anonym. Die anderen Teilnehmer werden zu
    keinem Zeitpunkt über Ihren Namen, Ihre Entscheidung oder Ihre Bezahlung
    informiert.
</p>
<p>
    Wenn Sie während der Studie Fragen haben, heben Sie bitte die Hand und
    warten Sie, bis ein Experimentator zu Ihnen kommt. Bitte sprechen Sie nicht, rufen Sie nicht oder kommunizieren Sie nicht mit
    anderen Teilnehmern während des Experiments.
    Teilnehmer, die absichtlich gegen diese Regeln verstoßen, können gebeten werden, das Experiment zu verlassen und erhalten keine Vergütung.
</p>
<p><b>Hinweis:</b>
    Während des Experiments stehen Ihnen verschiedene Teile der
    Anweisung als Tabs am oberen Bildschirmrand zur Verfügung. Sie können
    zwischen diesen Tabs hin- und herwechseln. Alle Tabs, mit Ausnahme des Tabs
    mit den Übungsfragen, sind während der Sitzung jederzeit zugänglich.
</p>


    {% next_button %}



{% endblock %}
