{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block content %}

    <h3 class="card-title font-weight-bold"> HAUPTENTSCHEIDUNG </h3>

       <br>

       <p>
           Zu Beginn des Experiments erhalten Sie 10 Punkte, unabhängig davon ob Sie Person A oder Person B sind.
       </p>
       <p>
           Während des Experiments wählt Person A einen beliebigen Betrag zwischen 0
            und 10 Punkten aus, der von den Anfangspunkten von Person B abgezogen
            wird und den Person A zusätzlich erhält.
       </p>
        <p>
            Zum Schluss erhält Person A also die 10 Anfangspunkte plus die abgezogenen
            Punkte von Person B. Person B erhält die 10 Anfangspunkte minus die Punkte,
            die Person A abgezogen hat.
        </p>
        <p>
            Angenommen Person A wählt während des Experiments 4 Punkte aus, so erhält Person A 14 Punkte und Person B 6 Punkte.
        </p>



    {% next_button %}

{% endblock %}