{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Informationen über Teil 1 des Experiments

{% endblock %}

{% block content %}
    <p> {{ tries }}</p>
    <p> {{table}} </p>
    <p>
        Teil 1 des Experiments dauert maximal 10 Minuten. Sie werden gebeten, folgende Aufgabe zu lösen: Ihnen wird jeweils eine Tabelle angezeigt. Eine
Tabelle besteht aus 15 Zeilen mit jeweils 10 Ziffern. Die Ziffern sind entweder eine 0 oder eine 1. Sie müssen die Anzahl der Nullen in der Tabelle korrekt
bestimmen, in das Eingabefeld eintragen und dann den OK-Knopf drücken.
    </p>
<p>
    Haben Sie die richtige Anzahl eingegeben, erscheint automatisch eine neue Tabelle. Andernfalls überprüfen Sie Ihre Lösung für die gegebene Tabelle und
bestätigen Ihre veränderte Eingabe mit dem OK-Knopf. Geben Sie dreimal einen falschen Wert an, so wird die Tabelle als nicht gelöst gewertet und Sie
erhalten automatisch eine neue Tabelle, die Sie auszählen können.
</p>
<p>
    Sie erhalten <b>750 Punkte</b> auf Ihr Punktekonto gutgeschrieben, wenn Sie <b>3 Tabellen</b> in
    <b>10 Minuten</b> korrekt ausgezählt haben.
</p>
<p>
    Wenn entweder alle Personen 3 Tabellen richtig ausgezählt haben oder wenn 10 Minuten abgelaufen sind, endet der erste Teil des Experiments. Gelingt es einer oder mehreren Personen nicht, innerhalb der vorgegebenen Zeit 3 Tabellen richtig auszuzählen, so endet für diese Personen das Experiment an dieser Stelle. Diese Personen erhalten lediglich einen Betrag von 250 Punkten für ihr heutiges Erscheinen. Da für den weiteren Verlauf eine gerade Anzahl an Personen benötigt wird, wird in dem Fall, dass eine ungerade Zahl an Personen die Aufgabe nicht lösen konnte, zufällig eine weitere Person ausgewählt, für die das Experiment an dieser Stelle endet. Diese weitere Person erhält die 750 Punkte für das Lösen der Aufgabe. Die betroffenen Personen verbleiben für die weitere Dauer des Experiments in ihrer Kabine.
</p>
<p>
    Bitte klicken Sie auf WEITER, um mit dem ersten Teil des Experiments zu beginnen.
</p>

<br>

    {% next_button %}

{% endblock %}
