{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block content %}


<div class="card-header bg-transparent mainheader">
           <h3 class="card-title font-weight-bold"> PROCEDURE </h3>
       </div>


       <!--##################################### -->
       <!--#########  BASELINE  ####### -->
       <!--##################################### -->

       {% if player.treatment_type == 'Baseline' %}

       <p>The experiment proceeds in four stages.</p>
       <b>Stage 1</b>
       <p>
You and the participant you are paired with will compete in a task. The task consists of counting the number of zeros in tables of 150 randomly ordered zeros and ones. The figure shows the work screen you will use later:
[PAGE]
Enter the number of zeros into the box on the right side of the screen. After you have entered the number, click the OK button. If you enter the correct result, a new table will be generated. You can see the total number of tables correctly solved, while you are doing the task.
If your input is wrong, you have two additional tries to enter the correct number into the table. You therefore have a total of three tries to solve each table. If you enter three times a wrong number, a new table will then be generated.
You have 5 minutes for this task. The remaining time is displayed in the upper right-hand corner of the screen.
The participant solving more tables correctly within the 5 minutes available for the task will be assigned the role of Player A. The other participant will be assigned the role of Player B. If you and the participant you are paired with managed to solve the same number of problems, roles will be assigned randomly.
       </p>
       <b>Stage 2</b>
       <p>
You will then be asked about your relative performance compared to the participant you are paired with. Please type the number indicating the difference between the sum of your correct answers and the sum of correct answers of the participant you are paired with. For example, if you believe that you managed to solve more problems than the participant you are paired with, you can indicate your belief by typing a number (e.g., 3 if you believe you managed to solve 3 more problems than the other participant). If you believe that the participant you are paired with managed to solve more problems than you, you can indicate your belief by typing a number (e.g., 5 if you believe the other participant managed to solve 5 more problems than you).
</p>
       <b>Stage 3</b>
       <p>
In this stage, if you have been assigned the role of Player A, you will make a decision according to the rules described in the “Main Decision” tab.
</p>
       <b>Stage 4</b>
       <p>
You will fill out a questionnaire at this stage and by the submitting it the study ends.
</p>

       <p>
Before you begin with the actual experiment, it is important for you to know how the experiment proceeds. We would therefore ask you please to answer some control questions on the experiment. As soon as all participants have correctly answered these questions, the experiment will begin.
</p>

       <!--##################################### -->
       <!--#########  Mere_Voting  ####### -->
       <!--##################################### -->

       {% elif player.treatment_type == 'Mere_Voting' %}

       <p>The experiment proceeds in five stages.</p>
       <b>Stage 1</b>
       <p>You and the participant you are paired with will compete in a task. The task consists of counting the number of zeros in tables of 150 randomly ordered zeros and ones. The figure shows the work screen you will use later:
[PAGE]
Enter the number of zeros into the box on the right side of the screen. After you have entered the number, click the OK button. If you enter the correct result, a new table will be generated. You can see the total number of tables correctly solved, while you are doing the task.
If your input is wrong, you have two additional tries to enter the correct number into the table. You therefore have a total of three tries to solve each table. If you enter three times a wrong number, a new table will then be generated.
You have 5 minutes for this task. The remaining time is displayed in the upper right-hand corner of the screen.
The participant solving more tables correctly within the 5 minutes available for the task will be assigned the role of Player A. The other participant will be assigned the role of Player B. If you and the participant you are paired with managed to solve the same number of problems, roles will be assigned randomly. However, you will only learn about your role in Stage 3.
</p>
       <b>Stage 2</b>
       <p>In this stage, you will be asked to vote on the following norm:
           <b>“Player A is allowed to take what they deserve from player B.”</b>
You will be able to decide in favor of this norm by clicking “YES” or against this norm by clicking “NO”.
</p>
       <b>Stage 3</b>
       <p>
           At the beginning of this stage, you will be informed about the role you have been assigned to in Stage 1. You will then be asked about your relative performance compared to the participant you are paired with. Please type the number indicating the difference between the sum of your correct answers and the sum of correct answers of the other participant. For example, if you believe that you managed to solve more problems than the other participant, you can indicate your belief by typing a number (e.g., 3 if you believe you managed to solve 3 more problems than the other participant). If you believe that the participant you are paired with managed to solve more problems than you, you can indicate your belief by typing a number (e.g., 5 if you believe the other participant managed to solve 5 more problems than you).
You will be also asked to indicate your belief about the number of votes in favor of the norm in your group. For example, if you believe that 1 person voted in favor of the norm, enter 1 in the designated place.
       </p>
       <b>Stage 4</b>
       <p>In this stage, if you have been assigned the role of Player A, you will make a decision according to the rules described in the “Main Decision” tab.</p>
       <b>Stage 5</b>
       <p>You will fill out a questionnaire at this stage and by the submitting it the study ends. </p>
       <p>Before you begin with the actual experiment, it is important for you to know how the experiment proceeds. We would therefore ask you please to answer some control questions on the experiment. As soon as all participants have correctly answered these questions, the experiment will begin </p>


       <!--##################################### -->
       <!--#########  'Expressive_Voting'   ####### -->
       <!--##################################### -->

       {% elif player.treatment_type == 'Expressive_Voting' %}

       <p>The experiment contains five stages.</p>
       <b>Stage 1</b>
       <p>You and the participant you are paired with will compete in a task. The task consists of counting the number of zeros in tables of 150 randomly ordered zeros and ones. The figure shows the work screen you will use later:
[PAGE]
Enter the number of zeros into the box on the right side of the screen. After you have entered the number, click the OK button. If you enter the correct result, a new table will be generated. You can see the total number of tables correctly solved, while you are doing the task.
If your input is wrong, you have two additional tries to enter the correct number into the table. You therefore have a total of three tries to solve each table. If you enter three times a wrong number, a new table will then be generated.
You have 5 minutes for this task. The remaining time is displayed in the upper right-hand corner of the screen.
The participant solving more tables correctly within the 5 minutes available for the task will be assigned the role of Player A. The other participant will be assigned the role of Player B. If you and the participant you are paired with managed to solve the same number of problems, roles will be assigned randomly. However, you will only learn about your role in Stage 3.
</p>
       <b>Stage 2</b>
       <p>In this stage, you will be asked to vote on the following norm:
           <b>“Player A is allowed to take what they deserve from player B.”</b>
You will be able to decide in favor of this norm by clicking “YES” or against this norm by clicking “NO”.
You will see on your screen how many of your group members vote in favor of the norm, after all your group members cast their votes.
</p>
<b>Stage 3</b>
       <p>At the beginning of this stage, you will be informed about the role you have been assigned to in Stage 1. You will then be asked about your relative performance compared to the participant you are paired with. Please type the number indicating the difference between the sum of your correct answers and the sum of correct answers of the other participant. For example, if you believe that you managed to solve more problems than the other participant, you can indicate your belief by typing a number (e.g., 3 if you believe you managed to solve 3 more problems than the other participant). If you believe that the participant you are paired with managed to solve more problems than you, you can indicate your belief by typing a number (e.g., 5 if you believe the other participant managed to solve 5 more problems than you).</p>
<b>Stage 4</b>
       <p>In this stage, if you have been assigned the role of Player A, you will make a decision according to the rules described in the “Main Decision” tab.</p>
<b>Stage 5</b>
       <p>You will fill out a questionnaire at this stage and by submitting it the study ends. </p>
       <p>
Before you begin with the actual experiment, it is important for you to know how the experiment proceeds. We would therefore ask you please to answer some control questions on the experiment. As soon as all participants have correctly answered these questions, the experiment will begin.
</p>
       {% endif %}



{% next_button %}

{% endblock %}